.receta__boton{
    color: #fdfdfd;
    background: #da2b1f;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}
.receta__boton:hover{
    cursor: pointer;
    background: #9f1010;
    transition: all .1s ease-in-out;
}